Language: Cpp

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignTrailingComments: Always
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: True
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '"*"' # project headers
    Priority: 1
  - Regex: 'SFML' # SFML headers
    Priority: 2
  - Regex: '<*>' # system headers
    Priority: 3
IndentCaseLabels: True
IndentWidth: 4
PointerAlignment: Left
SpaceAfterCStyleCast: True
SpacesInAngles: Leave
